// Variables

$light-shade: #F3F6F6;
$light-accent: #C52B30;
$main-brand:  #87b7ce; // #16588e;
$dark-accent: #373485;

$dark-shade: #14181E;

//* FONT WEIGHT

$light: 200;
$regular: 400;
$bold: 700;
$extra-bold: 900;


body{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-color: $dark-shade;
    // font-family: 'Rokkitt', serif;
}
div{
    position: relative;
}
//* ----------------COLORS--------------------------

.navbar{
    background-color: $light-accent !important;
}
.appt{
    background-color: $main-brand;
    color: black;
}
.appt:hover{
    background-color: #bf9b30;
    color: black;
}
.dark-bg{
    background-color: $dark-shade;
}

.bg-grey{
    background-color: $light-accent;
}
.bg-light-shade{
    background-color: #f8f9fa;
}

.btn-close{
    color: #C52B30 !important;
}

//* ----------------POSITIONING----------------------

.logo{
    position: absolute;
    width: 20%;
    height: auto;
    left: 2%;
    top: -25%;
    
    
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
  }



  .text-out{
       position: absolute;
      top: 30%;
      left: -25%;
      width: 45%;
      height: auto;
      
  }

  .text-out-2{
   position: absolute;
   top: 25%;
   left: 30%;
   width: 30%;
  }
  //*----------------FONT SIZE-----------------------

.slogan{ 
    font-weight: 100;
}


  .bold-text{
      font-weight: $regular;
  }
 
  
 .tranny{
     transition-duration: 2s;
 }


//*----------------SMALL SCREEN--------------------------
 @media only screen and (max-width: 480px) {
    .logo{
        position: absolute;
        width: 60%;
        height: auto;
        display: flex;
       justify-content: center;
    }
    .text-out{
        position: absolute !important;
        
       left: 15%;
        top: 90%;
        width: 70%;
        height:auto;
    }
    .text-out-2{

        position: absolute !important;
        top: 110%;
        left: 15%;
       height: auto;
        width: 70%; 
      
      }

    .smallflex{
        flex-direction: column;
    }

    .maintRow{
        display: flex;
        flex-direction: column-reverse;
    }

    .padding-small{
        border-top: 5% !important;
    }
    .text-sm-center{
        text-align: center;
    }

    .btn-group{
        padding: 12%;
    }
  }

 